<div class="container" id=home-container>
<div class="jumbotron text-center text-white">
  <h1 class="display-4">Witaj na aplikacji CHESSER!</h1>
  <p class="lead">To prosta aplikacja zapewniająca radość z gry w szachy!</p>
  <hr class="my-4">
  <p>Chesser created by Jakub Kryska & Piotr Gągorowski</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="chess" role="button">Rozpocznij Rozgrywke</a>
  </p>
</div>
<div id="page-content">
</div>

