@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.css';
.navbar {
    background-color: black !important;
  }    
.navbar-brand {  
    font-size: 3rem;
  }
h1 {  
    color: red;
  }
.nav-link {
  color: white !important;
}
#logo{

}