@import 'bootstrap-sprockets';
@import 'bootstrap';
/*@import 'bootstrap/dist/css/bootstrap.css';*/
.navbar {
    background-color: black !important;
  }    
.navbar-brand {  
    font-size: 3rem;
  }
h1 {  
    color: rgb(0, 0, 0);
  }
.nav-link {
  color: white !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  }
  #home-container {
    margin-top: 25px;
    }
    .jumbotron{
    background-image: asset-url('homechess.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    }
    